body {
  font-family: Siro;
}

header {
  background-image: linear-gradient(71deg,#084E8A,#108043);
}

h2 {
  color: white;
}

.btn {
  background-color: #108043;
  background-image: url(../image/search-icon.png);
  background-repeat: no-repeat;
  background-size: 2.5em 2.5em;
  width: 3em;
}

.fa-star {
  opacity: 1;
  transition: 0.3s;
}

.fa-star:hover {
  opacity: 0.6;
}

.fa-star {
  color: #C4CDD5;
}

h3 {
  color: #108043;
}

#favorites-container {
  background-color: #E3F1DF;
}

.clicked {
  color: #108043;
}
