html {
  max-width: 100%;
}

body {
  overflow: hidden;
}

header {
  background-image: linear-gradient(71deg, #084E8A, #108043);
  height: 130px;
}

h2 {
  color: white;
}

.btn {
  background-color: #108043;
  padding: 0;
  width: 3em;
}

div#output {
  position: absolute;
  right: 0;
  left: 0;
  overflow: scroll;
  height: calc(100% - 100px);
  padding-bottom: 170px;
}

ul {
  padding: 0;
  margin-bottom: 2em;
}

li {
  margin-bottom: 1em;
}

.fa-star, .fa-minus {
  opacity: 1;
  transition: 0.3s;
}

.fa-star:hover, .fa-minus:hover {
  opacity: 0.6;
}

.fa-star {
  color: #C4CDD5;
}

h3, .clicked, .favourites-title {
  color: #108043;
}

h3.font-weight-bold {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #F7FEFA;
}

#favorites-container {
  background-color: #F7FEFA;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.fa-minus {
  position: fixed;
  z-index: 1;
  color: #108043;
}

.expand {
  height: calc(100% - 130px) !important;
  overflow: scroll;
}

.collapsed {
  height: calc(100% - 730px);
}

@media (max-width: 575px) {
  h2 {
    font-size: 1.5em;
  }

  header {
    height: 115px;
  }

  input#userInput {
    margin: 0 !important;
    height: 2em;
  }

  div#output {
    font-size: small;
    width: 100%;
    overflow-x: hidden;
    padding-left: 0;
  }

  .title {
    padding-left: 0;
  }

  div#favorites-container {
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  div#favorite-lists {
    font-size: small;
    padding-right: 1.5em;
  }

  .favourites-title {
    padding: 0;
    font-size: 1em;
    padding-left: 1em;
  }

  .expand {
    height: calc(100% - 110px) !important;
    overflow: scroll;
  }

  .collapsed {
    height: calc(100% - 525px);
  }
}
