.SearchBar__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5vh;
    /* border: 3px solid yellow; */
}

.SearchBar__wrapper {
    display: flex;
    flex-direction: row;
}
