.SearchResult__container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    transition: 0.5s;
    font-size: inherit;
    margin: 0.75em;
    border-radius: 15px;
    padding: 1.75em;
    box-shadow: 0 0 10px #ccc;
}

.SearchResult__container:hover{
    background-color: rgba(164,193,226,0.2);
    border-radius: 10px;
}

.SearchResult__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 25px;
}

.SearchResult__header_icon {
    margin-right: 1vw;
}

.SearchResult__header_title {
    margin: unset;
    font-size: large;
}

.SearchResult__body{ 
    text-align: left;
}

@media screen and (max-width: 575px) {
    .SearchResult__container {
      font-size: 0.75rem;
      padding: 10px;
    }

    .SearchResult__body > ul > li > span{ 
      font-size: 0.75rem !important;
    }

    .SearchResult__header {
      padding-left: 0px;
    }

    .SearchResult__header_title {
      font-size: larger;
    }
  }