html {
  overflow: hidden;
}

p {
  margin-bottom: 0em !important;
}

ul {
  margin: unset !important;
  padding-left: 34px !important;
}

.modal-body {
  overflow: scroll !important;
}

.modal-content {
  height: 70vh !important;
  width: 35vw !important;
}

.modal {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important; 
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchSection__container {
  width: 55vw;
  /* border: 1px solid red; */
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: flex-start;
} 



