html {
  overflow: hidden;
}

p {
  margin-bottom: 0em !important;
}

ul {
  margin: unset !important;
  padding-left: 34px !important;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchSection__container {
  width: 55vw;
  /* border: 1px solid red; */
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: flex-start;
} 


@media screen and (max-width: 1024px) {
    .SearchSection__container {
      width: calc(100% - 3em);
    }
  }
