.FavoriteList__wrapper {
    height: 10vh;
    /* border: 1px solid pink; */
    display: flex;
    width: calc(100vw - 10vw);
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
}

.modal {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important; 
}

.modal_content {
    height: 70vh !important;
    width: calc(100vw - 3rem) !important;
  }

@media screen and (max-width: 575px) {
    .modal_content {
        width: 100% !important;
    }
}