.FavoriteList__wrapper {
    display: flex;
}

.modal {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important; 
}

.modal_content {
    height: 70vh !important;
    width: calc(100vw - 3rem) !important;
  }

@media screen and (max-width: 575px) {
    .modal_content {
        width: 100% !important;
    }
}