.FavoriteList__wrapper {
    height: 10vh;
    /* border: 1px solid pink; */
    display: flex;
    width: calc(100vw - 10vw);
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    bottom: 0;
}

.modal {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important; 
}

.modal_content {
    height: 70vh !important;
  }

@media screen and (min-width: 575px) {
    .modal_content {
        width: 50vw !important;
    }
}