.FavoriteList__container {
    height: 10vh;
    border: 1px solid pink;
    display: flex;
    width: calc(100vw - 10vw);
    align-items: center;
    justify-content: flex-start;
}

.modal-content {
    height: 70vh !important;
    width: 35vw !important;
}

.modal {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important; 
}